<p id="notice"><%= notice %></p>

<h1>Languagues</h1>

<table>
  <thead>
    <tr>
      <th>Variance</th>
      <th>Name</th>
      <th>Readabilty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @languagues.each do |languague| %>
      <tr>
        <td><%= languague.variance %></td>
        <td><%= languague.name %></td>
        <td><%= languague.readabilty %></td>
        <td><%= link_to 'Show', languague %></td>
        <td><%= link_to 'Edit', edit_languague_path(languague) %></td>
        <td><%= link_to 'Destroy', languague, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Languague', new_languague_path %>
